name: AWS Secrets Manager PropertySource Release

on:
  push:
    paths:
      - 'libs/shared-java/data-access-aws-secrets-manager-property-source/**'
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: libs/shared-java/data-access-aws-secrets-manager-property-source
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    - name: Upload artifact
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn --batch-mode --update-snapshots deploy
