name: Chromatic

on:
  pull_request:
    paths:
      - "libs/portal/ui/**"
      - "libs/shared/ui/**"
      - "package.json"
      - ".github/workflows/chromatic.yml"
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  chromatic-deployment:
    permissions:
      contents: read
      pull-requests: write

    name: Deploy Storybook To Chromatic
    runs-on:
      group: rh-design-system
      labels: ubuntu-latest-8cpu-32gb

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - id: short-sha
        uses: benjlevesque/short-sha@v2.2
        with:
          length: 7

      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-root-json
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ env.cache-name }}-${{ hashFiles('*.json') }}

      - if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci

      - id: publish-to-chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          onlyChanged: true
          exitZeroOnChanges: true
          autoAcceptChanges: "main"
          zip: true

      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Published Storybook to ${{ steps.publish-to-chromatic.outputs.storybookUrl }}<br>Published Chromatic build to ${{ steps.publish-to-chromatic.outputs.buildUrl }}'
            })
