name: E2E

on:
  workflow_call:
    inputs:
      aws-account:
        type: string
        required: true
      app:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      aws-account:
        type: choice
        description: "AWS Account"
        required: true
        options:
          - dev
      app:
        type: choice
        required: true
        options:
          - third-party-network

jobs:
  e2e:
    runs-on:
      group: rh-design-system
      labels: ubuntu-latest-8cpu-32gb
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: Cache dependencies
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-root-json
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ env.cache-name }}-${{ hashFiles('*.json') }}

      - name: Install dependencies
        if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Install browsers
        run: npx playwright install --with-deps chromium

      - name: Run E2E
        run: npx nx e2e ${{ inputs.app }}-e2e --configuration=${{ inputs.aws-account }}
