name: Nx Checks

on:
  pull_request:
    types:
      - synchronize
      - opened

permissions:
  contents: read
  pull-requests: write
  repository-projects: read

jobs:
  checks:
    runs-on:
      group: rh-design-system
      labels: ubuntu-latest-8cpu-32gb
    env:
      NUMBER_OF_CPUS: 8
    steps:
      - id: checkout
        uses: actions/checkout@v4
        with:
          # Allow us to compare main with current branch for "nx affected"
          fetch-depth: 0

      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-root-json
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ env.cache-name }}-${{ hashFiles('*.json') }}

      - if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci

      - uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "maven"

      - name: Add affected project labels
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          npx nx show projects --affected --base=origin/main --exclude "*-e2e,opcofin" --projects "apps/*" | while read project; do
          if ! gh api repos/${{ github.repository }}/labels/$project ; then
            gh label create $project -R ${{ github.repository }} -c FFFFFF
          fi
          gh pr edit ${{ github.event.pull_request.number }} --add-label $project
          done

      - id: linter
        name: Linter
        run: npx nx affected --target=lint --base=origin/main --parallel=$NUMBER_OF_CPUS

      - id: type-checker
        name: Type checker
        run: npx nx affected --target=check-types --base=origin/main --parallel=$NUMBER_OF_CPUS

      - id: test
        name: Unit Tests
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: npx nx affected --target=test --base=origin/main --parallel=$NUMBER_OF_CPUS
