name: 'Playwright: API & UI (local)'

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Test scenario tags'
        required: true
        default: 'manual'
  pull_request:
    paths:
      - 'apps/company-api/**'
      - 'apps/portal/**'
      - 'libs/**'
      - 'playwright/**'
      - 'package.json'

jobs:
  run-playwright-tests:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium]
    runs-on:
      group: rh-design-system-large
      labels: ubuntu-latest-8cpu-32gb

    steps:
      - name: Checkout rh-design-system repo
        uses: actions/checkout@v3

      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-root-json
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ env.cache-name }}-${{ hashFiles('*.json') }}

      - if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Setup Java JDK
        uses: actions/setup-java@v3.6.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build Server and Dependencies
        working-directory: apps/company-api
        env:
          GITHUB_TOKEN: ${{ github.token }}
        ## Tests are managed through nx-checks.yml
        run: mvn clean install -DskipTests

      - name: Start API Server
        working-directory: apps/company-api
        env:
          SPRING_PROFILES_ACTIVE: playwright
        # Run in detached mode
        run: docker-compose up -d

      - name: Build, tag, and run image for frontend
        id: build-image
        run: |
          export NX_CONTAINER_IMAGE_TAG=portal:latest
          export NX_CONTAINER_IMAGE_ARCH=linux/amd64
          npx env-cmd --silent --verbose -f apps/portal/.env.build-image.local npx nx run portal:build-image
          docker run -d -p 4200:80 $NX_CONTAINER_IMAGE_TAG

      - name: Save API Logs
        working-directory: apps/company-api
        run: docker-compose logs > docker-logs.txt

      - name: API Health Check from host
        working-directory: playwright
        run: |
          export BASE_URL=http://localhost:8080
          bash ./run-company-api-healthcheck.sh

      - name: Ready for Playwright containers
        working-directory: playwright
        run: |
          npm ci
          mkdir screenshots
          mkdir playwright-report

      - name: Run API from container
        working-directory: playwright
        run: |
          docker run --ipc=host --network=host --user pwuser -v .:/home/pwuser/playwright -w /home/pwuser/playwright \
          -e PWD_UNREGISTERED_USER=${{ secrets.PWD_UNREGISTERED_USER }} \
          -e PLAYWRIGHT_CLIENT_ID=${{ secrets.PLAYWRIGHT_CLIENT_ID }} \
          -e PLAYWRIGHT_CLIENT_SECRET=${{ secrets.PLAYWRIGHT_CLIENT_SECRET }} \
          -e PLAYWRIGHT_REFRESH_TOKEN=${{ secrets.PLAYWRIGHT_REFRESH_TOKEN }} \
          -e BASE_URL=http://localhost:8080 \
          -e CI=$CI \
          mcr.microsoft.com/playwright:v1.38.0-jammy \
          npx playwright test ./tests/platform/api -c playwright.config.company-api.ts

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-api-reports
          path: |
            playwright/api-report/
          retention-days: 7

      - name: Run Playwright UI ex CEO from container
        working-directory: playwright
        run: |
          docker run --ipc=host --network=host --user pwuser -v .:/home/pwuser/playwright -w /home/pwuser/playwright \
          -e PWD_UNREGISTERED_USER=${{ secrets.PWD_UNREGISTERED_USER }} \
          -e PLAYWRIGHT_CLIENT_ID=${{ secrets.PLAYWRIGHT_CLIENT_ID }} \
          -e PLAYWRIGHT_CLIENT_SECRET=${{ secrets.PLAYWRIGHT_CLIENT_SECRET }} \
          -e PLAYWRIGHT_REFRESH_TOKEN=${{ secrets.PLAYWRIGHT_REFRESH_TOKEN }} \
          -e PLAYWRIGHT_UI_BASE_URL=http://localhost:4200 \
          -e PLAYWRIGHT_API_BASE_URL=http://localhost:8080 \
          -e PLAYWRIGHT_HTML_REPORT='ui-report' \
          -e CI=$CI \
          mcr.microsoft.com/playwright:v1.38.0-jammy \
          npx playwright test --grep-invert @dev ./tests/platform/ui/dashboard ./tests/platform/ui/root -c playwright.config.platform-ui.ts --ignore-snapshots

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-UI-reports
          path: |
            playwright/ui-report/
          retention-days: 7

      - name: Run Playwright UI CEO from container
        working-directory: playwright
        run: |
          docker run --ipc=host --network=host --user pwuser -v .:/home/pwuser/playwright -w /home/pwuser/playwright \
          -e PWD_UNREGISTERED_USER=${{ secrets.PWD_UNREGISTERED_USER }} \
          -e PLAYWRIGHT_CLIENT_ID=${{ secrets.PLAYWRIGHT_CLIENT_ID }} \
          -e PLAYWRIGHT_CLIENT_SECRET=${{ secrets.PLAYWRIGHT_CLIENT_SECRET }} \
          -e PLAYWRIGHT_REFRESH_TOKEN=${{ secrets.PLAYWRIGHT_REFRESH_TOKEN }} \
          -e PLAYWRIGHT_UI_BASE_URL=http://localhost:4200 \
          -e PLAYWRIGHT_API_BASE_URL=http://localhost:8080 \
          -e PLAYWRIGHT_HTML_REPORT='ceo-directory-report' \
          -e CI=$CI \
          mcr.microsoft.com/playwright:v1.38.0-jammy \
          npx playwright test --workers 1 --grep-invert @dev ./tests/platform/ui/ceo-directory/ -c playwright.config.platform-ui.ts --ignore-snapshots

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-ceo-directory-report
          path: |
            playwright/ceo-directory-report/
          retention-days: 7

      - name: Upload API logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: docker-logs
          path: |
            apps/company-api/docker-logs.txt
          retention-days: 7

      - uses: ravsamhq/notify-slack-action@v2
        if: always()
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
