name: "Playwright Tests - Company API - localhost"

on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Test scenario tags"
        required: true
        default: "manual"
  schedule:
    - cron: "15 9 * * 1-5"
  # pull_request:
  #   paths:
  #     - 'apps/company-api/**'

jobs:
  run-playwright-api-tests:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium]
    runs-on:
      group: rh-design-system
      labels: ubuntu-latest-8cpu-32gb

    steps:
      - name: Checkout rh-design-system repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64

      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-root-json
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ env.cache-name }}-${{ hashFiles('*.json') }}

      - if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci --legacy-peer-deps

      - name: Setup Java JDK
        uses: actions/setup-java@v3.6.0
        with:
          distribution: "temurin"
          java-version: "17"
          cache: maven

      - name: Build Server and Dependencies
        shell: bash
        working-directory: apps/company-api
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: mvn clean install

      - name: Start API Server
        shell: bash
        working-directory: apps/company-api
        env:
          SPRING_PROFILES_ACTIVE: playwright
        run: docker-compose up -d

      - name: Build, tag, and run image for frontend
        id: build-image
        run: |
          export NX_CONTAINER_IMAGE_TAG=portal:latest
          export NX_CONTAINER_IMAGE_ARCH=linux/amd64
          npx env-cmd --silent --verbose -f apps/portal/.env.build-image.local npx nx run portal:build-image
          docker run -d -p 4200:80 $NX_CONTAINER_IMAGE_TAG

      - name: Install Playwright
        shell: bash
        working-directory: playwright
        run: |
          npm ci
          npx playwright install --with-deps chromium firefox

      - name: API Service Health Check
        working-directory: playwright
        run: |
          export BASE_URL=http://localhost:8080
          bash ./run-company-api-healthcheck.sh

      - name: Run Playwright API tests
        shell: bash
        working-directory: playwright
        run: |
          mkdir screenshots
          mkdir playwright-report
          export PWD_UNREGISTERED_USER=${{ secrets.PWD_UNREGISTERED_USER }}
          export PLAYWRIGHT_CLIENT_ID=${{ secrets.PLAYWRIGHT_CLIENT_ID }}
          export PLAYWRIGHT_CLIENT_SECRET=${{ secrets.PLAYWRIGHT_CLIENT_SECRET }}
          export PLAYWRIGHT_REFRESH_TOKEN=${{ secrets.PLAYWRIGHT_REFRESH_TOKEN }}
          export BASE_URL=http://localhost:8080
          npx playwright test ./tests/platform/api -c playwright.config.company-api.ts

      # - name: Run Playwright Local UI (solo)
      #   if: success() || failure()
      #   working-directory: playwright
      #   run: |
      #     export PWD_UNREGISTERED_USER=${{ secrets.PWD_UNREGISTERED_USER }}
      #     export PLAYWRIGHT_CLIENT_ID=${{ secrets.PLAYWRIGHT_CLIENT_ID }}
      #     export PLAYWRIGHT_CLIENT_SECRET=${{ secrets.PLAYWRIGHT_CLIENT_SECRET }}
      #     export PLAYWRIGHT_REFRESH_TOKEN=${{ secrets.PLAYWRIGHT_REFRESH_TOKEN }}
      #     export PLAYWRIGHT_UI_BASE_URL=http://localhost:4200
      #     export PLAYWRIGHT_API_BASE_URL=http://localhost:8080
      #     npx playwright test --grep @solo ./tests/platform/ui -c playwright.config.platform-ui.ts

      # - name: Run Playwright Local UI (parallel)
      #   if: success() || failure()
      #   working-directory: playwright
      #   run: |
      #     export PWD_UNREGISTERED_USER=${{ secrets.PWD_UNREGISTERED_USER }}
      #     export PLAYWRIGHT_CLIENT_ID=${{ secrets.PLAYWRIGHT_CLIENT_ID }}
      #     export PLAYWRIGHT_CLIENT_SECRET=${{ secrets.PLAYWRIGHT_CLIENT_SECRET }}
      #     export PLAYWRIGHT_REFRESH_TOKEN=${{ secrets.PLAYWRIGHT_REFRESH_TOKEN }}
      #     export PLAYWRIGHT_UI_BASE_URL=http://localhost:4200
      #     export PLAYWRIGHT_API_BASE_URL=http://localhost:8080
      #     npx playwright test --grep-invert @solo ./tests/platform/ui -c playwright.config.platform-ui.ts

      - name: Save API Logs
        if: always()
        working-directory: apps/company-api
        run: docker-compose logs > docker-logs.txt

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-reports
          path: |
            playwright/api-report/
            playwright/ui-report/
          retention-days: 30

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: docker-logs
          path: |
            apps/company-api/docker-logs.txt
          retention-days: 30

      - uses: ravsamhq/notify-slack-action@v2
        if: always()
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
