name: ECR

on:
  workflow_dispatch:
    inputs:
      region:
        description: AWS region
        required: true
        type: choice
        default: us-east-1
        options:
          - us-east-1
      environment:
        description: Environment (dev, staging, prod)
        required: true
        type: choice
        default: dev
        options:
          - dev
          - staging
          - prod
      serviceName:
        description: Name of service or app
        required: true
        type: choice
        options:
          - company-api
          - third-party-network
          - portal
          - oauth-jwt-generator
          - prometheus
          - km-docs-lambda
      tag:
        description: Tag for docker image
        required: false
        type: string

  workflow_call:
    inputs:
      region:
        description: AWS region
        required: true
        type: string
      environment:
        description: Environment (dev, staging, prod)
        required: true
        type: string
      serviceName:
        description: Name of service or app
        required: true
        type: string
      tag:
        description: Tag for docker image
        required: true
        type: string

jobs:
  push-to-ecr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      repository-projects: read
      packages: read
      id-token: write
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64

      - uses: actions/checkout@v4

      - id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - run: npm ci

      - name: Check for pom.xml in subdirectories
        id: pom
        run: |
          if find ./apps/${{ inputs.serviceName }} -name 'pom.xml' | grep -q 'pom.xml'; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - uses: actions/setup-java@v3
        if: steps.pom.outputs.exists == 'true'
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Login to AWS
        uses: ./.github/actions/configure-aws
        with:
          aws-region: ${{ inputs.region }}
          aws-account: ${{ inputs.environment }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: 'true'

      - name: Calculate short SHA
        id: short-sha
        if: inputs.tag == ''
        uses: benjlevesque/short-sha@v2.2
        with:
          length: 7

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          NX_CONTAINER_IMAGE_ARCH: "linux/arm64"
          ECR_REPOSITORY: ${{ inputs.environment}}-${{ inputs.serviceName }}
          GITHUB_TOKEN: ${{ github.token }}
          VITE_APP_VERSION: ${{ steps.short-sha.outputs.sha || inputs.tag }}
        run: |
          export NX_CONTAINER_IMAGE_TAG=$ECR_REGISTRY/$ECR_REPOSITORY:${{ steps.short-sha.outputs.sha || inputs.tag }}
          npx env-cmd --silent --verbose -f apps/${{ inputs.serviceName }}/.env.build-image.${{ inputs.environment }} npx nx run ${{ inputs.serviceName }}:build-image:${{ inputs.environment }}
          docker push -a $ECR_REGISTRY/$ECR_REPOSITORY

