name: Main

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/push-to-ecr.yaml
    permissions:
      contents: read
      pull-requests: write
      repository-projects: read
      packages: read
      id-token: write
    strategy:
      fail-fast: false
      matrix: 
        project: [company-api, portal, third-party-network, oauth-jwt-generator]
    with:
      region: us-east-1
      environment: dev
      serviceName: ${{ matrix.project }}
      tag: ${GITHUB_SHA::7}
    secrets: inherit
