name: Release

on:
  release:
    types: [released]

jobs:
  build:
    uses: ./.github/workflows/push-to-ecr.yaml
    permissions:
      contents: read
      pull-requests: write
      repository-projects: read
      packages: read
      id-token: write
    strategy:
      fail-fast: false
      matrix: 
        project: [company-api, portal, third-party-network, oauth-jwt-generator]
    with:
      region: us-east-1
      environment: prod
      serviceName: ${{ matrix.project }}
      tag: ${{ github.event.release.tag_name }}
    secrets: inherit

  deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: [build]
    permissions:
      contents: read
      pull-requests: write
      repository-projects: read
      packages: read
      id-token: write
    with:
      region: us-east-1
      environment: prod
      tag: ${{ github.event.release.tag_name }}
    secrets: inherit
