name: Publish shared-utils to GitHub Packages
on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Publish shared-utils to GitHub Packages'
        required: true
        default: 'manual'

env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://npm.pkg.github.com'
          scope: '@redesignhealth'
          cache: 'npm'
      - id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-root-json
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ env.cache-name }}-${{ hashFiles('*.json') }}

      - if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci --legacy-peer-deps

      - run: npx nx build shared-utils
      - run: cd dist/libs/shared/utils && npm publish
